<footer class="footer">
        © <%= new Date().getFullYear(); %> Veltrix <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.
</footer>