 
 
 <%- contentFor('HeaderCss') %>
 <!-- perticular page css -->
  <%- contentFor('body') %>
            <div class="wrapper">
                <div class="container-fluid">
                      
                </div> <!-- end container -->
            </div>
<%- contentFor('FooterJs') %>